################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/MIDI_to_Linkbot/Debug
/MIDI_to_Linkbot/x64/Debug
/MIDI_to_Linkbot/Clean Bandit - Rockabye  (midi by Carlo Prato) (www.cprato.com).mid
/MIDI_to_Linkbot/Michael_Jackson_-_Billie_Jean.mid
/MIDI_to_Linkbot/MIDIlovania.mid
/MIDI_to_Linkbot/MIDI_to_Linkbot.exe
/MIDI_to_Linkbot/RiverFlowsInYou.mid
/MIDI_to_Linkbot/MIDI_to_Linkbot.vcxproj.user
/MIDI_to_Linkbot/MIDI_to_Linkbot.vcxproj.filters
/MIDI_to_Linkbot/MIDI_to_Linkbot.vcxproj
/MIDI_to_Linkbot/MIDI_to_Linkbot.obj
/x64/Debug
/MIDI_to_Linkbot.sln
